<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/main.css">
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/jquery-2.1.0.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<title>layout</title>
		<script>
			var socket = io.connect();
			function login(){
				socket.emit('login', {name : $('#name').val(), whoareyou: $('#whoareyou').val()});
			}
			socket.on('moveMainPage', function(data){
				console.log(data);
			});
		</script>
	</head>
	<body>
	<div class="container">

      <form class="form-signin" role="form">
      	<h1 id="introTitle">
  			<img src="img/chicken.png" alt="" >
  			Runaway For Chicken!
      	</h1>
        <input type="text" class="form-control" placeholder="Name" required="" autofocus="" id="name">
        <input type="text" class="form-control" placeholder="Who are you?" required="" id="whoareyou">
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="login()">Game Start</button>
      </form>

    </div>		
	</body>
</html>
