<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href>Runaway For Chicken
        <img class="chickenlogo" src="img/chicken2.png" alt="">
        </a>
      </div>
    </div>
</div>
<div class="container center">
  <canvas id="myCanvas"  width="800" height="400"></canvas>
  <br/>
  <a href ng-click="toMainPage()" class = "btn btn-primary btn-lg btn-block" id="toMain">메인으로</a>
</div>